body {
    background-color: lightgrey;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

#navbar {
    background-color: #CC0000;  /* official pokemon red */
    padding: 16px 16px 16px 100px;
    color: #f5f5f5;
    font-size: 24px;
}

#searchInput {
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #ccc;
}

#searchBtn {
    background-color: #ffcc00;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

#searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pokemonGallery {
    display: flex;
    flex-wrap: wrap;    /* this prevents it all from being squished in one line*/
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

#pokemonGallery > div {  /*targets the children (each individual card) */
 background-color: white;
 padding: 16px;
 border-radius: 8px;
 width: 150px;
 text-align: center;
 box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#pokemonGallery > div:hover {
    background: #f5f5f5;
    cursor: pointer;
}

#pokemonGallery > div h3 {
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 8px;
}

#pokemonGallery > div img {
    width: 100px;
    height: 100px;
}

#pokemonResults {
    text-align: center;
    font-family: sans-serif;
    padding: 16px;
    text-transform: capitalize;
}